:root {
    --primary-text-color: #757575;
    --lurge-title-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --header-logo-color: #000000;
    --hero-footer-color: #2F303A;
    --section-color: #F5F4FA;
    --a-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(lurge-title-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
}

.title {
    color: var(--title-text-color);
}

ul {
    list-style: none;
}

.link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.header-list .current {
    color: var(--accent-color);
}

.logo {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
    color: var(--accent-color);
}

.header-link,
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--title-text-color);
}

.hero,
.footer {
    background-color: var(--hero-footer-color);
}

.hero-title {
    color: var(--lurge-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    cursor: pointer;
}

.hero-button {
    
    background-color: var(--accent-color);
    color: var(--lurge-title-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--title-text-color);
}

/* Hide heading */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.preference-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

/* Team */
.section-color {
    background-color: var(--section-color);
}

.card {
    background-color: var(--lurge-title-color);
}

.name,
.desc {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.name {
    font-weight: 500;
}

/* Portfolio */
.filter {
    background-color: var(--section-color);
    font-family: inherit;       
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.filter:hover,
.filter:focus {
    color: var(--lurge-title-color);
    background-color: var(--accent-color);
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-title {
    font-size: 16px;
    line-height: 1.9;
}

.project-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* Footer */
.footer > .logo {
    color: var(--lurge-title-color);
}

.address-item {
    font-style: normal;
    color: var(--a-color);
}

.address-item.color {
    color: var(--lurge-title-color);
}

